.container {
    max-width: 1110px;
    margin: 0 auto;
}

main section .section-header {
    display: flex;
    justify-content: space-between;
    margin: 150px 0 65px 0;
    align-items: center;

}

main section .section-header h2 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;

}

main section .section-header h2:before {
    background-image: url("../images/lines.svg");
    height: 16px;
    width: 100px;
    content: "";
    display: inline-block;
    margin-right: 40px;
    position: relative;
    top: -4px;
}

.arrows .arrow {
    width: 55px;
    height: 55px;
    display: inline-block;
    transition: 0.2s linear;
}

.arrows a:hover .arrow {
    background-color: rgba(0, 91, 193, 0.4);
}

.arrows .arrow.left {
    background: url("../images/left.svg");
    margin-right: -6px;
}

.arrows .arrow.right {
    background: url("../images/right.svg");
}


/* HEADER */

header {
    background: rgba(0, 91, 193, 0.6);
    padding: 11px 40px;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;

}

header ul.menu {
    width: 100%;
    text-align: center;
    padding-right: 140px;
}

header ul.menu li {
    display: inline-block;
    padding: 19px 13px;

}

header ul.menu li a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;

}

/* MAIN */

main section#firstScreen {
    background-image: url("../images/section1bg.jpg");
    height: 800px;
    background-position: center;
    background-size: cover;
    position: relative;

}

main section#firstScreen:before {
    background-color: rgba(0, 91, 193, 0.6);
    width: 444px;
    height: 720px;
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 80px;
    left: 50%;
    margin-left: -555px;
}

main section#firstScreen .container {
    padding-top: 280px;
    position: relative;
    padding-left: 190px;
}



main section#firstScreen h1 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
    z-index: 1;
    position: relative;

}

main section#firstScreen p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
    z-index: 1;
    position: relative;
    padding: 40px 0;
    margin-bottom: 20px;


}

main section#firstScreen a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
    z-index: 1;
    position: relative;
    border: 2px solid #FFFFFF;
    padding: 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}




main section#projects div.projects {
    display: flex;
    justify-content: space-between;
}

main section#projects div.project {
    height: 400px;
    width: 540px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main section#projects div.project.ssk1 {
    background-image: url(../images/olymph1.jpg);

}

main section#projects div.project.ssk2 {
    background-image: url(../images/olymph2.jpg);

}

main section#projects div.project h3 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 14px;
}

main section#projects div.project p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}


main section#projects div.project .text {
    width: 250px;
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px 25px;
    margin: 255px 35px 35px 255px;
    box-sizing: border-box;
}

/* CATALOG */

main section#catalog .filters {
    text-align: center;
    margin-bottom: 55px;
}

main section#catalog .filters a {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    /* black */

    color: #343434;
    margin: 0 25px;
    padding-bottom: 5px;


}

main section#catalog .filters a.active {
    color: #005BC1;
    border-bottom: 2px solid #005BC1;
}

main section#catalog .products {
    display: flex;
    justify-content: space-between;
}


main section#catalog .products .product {
    width: 350px;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

main section#catalog .products .product p {
    position: absolute;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* white */

    color: #FFFFFF;
    background-color: #005BC1;
    right: 0;
    bottom: 15px;
    padding: 15px 36px 15px 21px;

}

/* RENT */

main section#rent .wrapper {
    display: flex;
    justify-content: space-between;
}

main section#rent .wrapper>p {
    width: 350px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #343434;
    align-self: center;

}

main section#rent .wrapper .rent-products {
    width: 665px;
    border: 3px solid #005BC1;
    padding: 30px;
    box-sizing: border-box;
}

main section#rent .wrapper .rent-products .slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section#rent .wrapper .rent-products .slider-header h3 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

main section#rent .wrapper .rent-products .product .image {
    width: 250px;
    height: 255px;
    background-size: cover;
    background-position: center;
    position: relative;
}

main section#rent .wrapper .rent-products .product {
    display: flex;
    margin-top: 29px;
    justify-content: space-between;
}

main section#rent .wrapper .rent-products .product .description {
    width: 316px;
}

main section#rent .wrapper .rent-products .product .description h4 {

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 30px;
}


main section#rent .wrapper .rent-products .product .description ul li {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    position: relative;
    padding-left: 16px;
    margin-bottom: 20px;
}

main section#rent .wrapper .rent-products .product .description ul li:before {
    width: 4px;
    height: 4px;
    background: #343434;
    content: "";
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin-top: -2px;
    top: 50%;

}

/* NEWS */

main section#news .section-header a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #005BC1;
    padding: 15px 35px;
    display: inline-block;
    text-decoration: none;
}

main section#news .news-list {
    display: flex;
    justify-content: space-between;

}

main section#news .news-list h3 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

main section#news .news-list .date {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #979797;

}

main section#news .news-list p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}

main section#news .news-list .first-news-item {
    width: 540px;
    display: flex;
    justify-content: space-between;
}

main section#news .news-list .first-news-item .image {
    width: 255px;
    height: 242px;
    background-size: cover;
    background-position: center;
}

main section#news .news-list .description {
    width: 255px;
}

main section#news .news-list .first-news-item .description-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

main section#news .news-list .first-news-item p {
    margin-bottom: 21px;
}

main section#news .news-list .first-news-item a.read-more {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343434;
}

main section#news .news-list .news-item {
    width: 240px;
}

main section#news .news-list .news-item .image {
    width: 128px;
    height: 115px;
    background-size: cover;
    background-position: center;
}

main section#news .news-list .news-item h3 {
    margin-bottom: 20px;
    min-height: 54px;
}

main section#news .news-list .news-item p {
    margin-bottom: 20px;
}

main section#news .news-list .news-item .image-date {
    display: flex;
    justify-content: space-between;
}

main section#news .news-list .news-item .image-date .date {
    align-self: flex-end;
}

/* FOOTER */

footer {
    background: #005BC1;
    margin-top: 120px;
    color: #FFFFFF;
}

footer a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

footer .footer-header {
    display: flex;
    justify-content: space-between;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    border-bottom: 1px solid #FFFFFF;
    padding: 40px 0 29px;
}

footer .footer-header .phone {
    font-family: Oswald;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

footer .menu {
    width: 570px;
    display: flex;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

footer .menu li {
    width: 33.3%;
}

footer .copyright {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #FFFFFF;
    padding: 25px 0;
}